//Mithia SAVE CONFIGURATION FILE
//=============================

//sql server configuration
//currently only support mysql
sql_ip: ${DB_IP}
sql_port: ${DB_PORT}
sql_id: ${DB_USER}
sql_pw: ${DB_PASSWORD}
sql_db: ${DB_NAME}

//logfile
save_log: logs/save.log

//dump configuration
dump_log: logs/save_dump.log
dump_save: 1